@media screen and (max-width: 800px) {
    body {
      background-color: lightgray;
      width: 100%;
    }
  
    main {
      grid-template-columns: 1fr;
    }
    .card {
      border-bottom: black 3px dashed;
      padding-bottom: 5px;
    }

    .title {
      width: 70%;
    }

    h1 {
      font-size: 40px;
    }


    /*blog page*/
    .authorbio {
        grid-template-columns: 1fr;
        justify-content: center;
        background-color: aliceblue;
        width: 90%;
      }
      .authorbio img,
      .authorbio ul {
        justify-self: center;
      }
    
      .quotes {
        flex-flow: column wrap;
      }
  }

  
