/* imports */ 

/* @import 'media.css' screen and (max-width: 700px); */
@import url('author.css');
@import url('footer.css');
@import url('global.css');





/*header & nav styles */

header {
  height: 500px;
  color: white;
  background-color: black;
  width: 80%;
  min-height: 400px;
  margin: auto;
}
nav {
  background-color: black;
  color: white;
  padding: 5px;

  height: 30px;
}
h2 {
  margin: 0;
  font-size: 20px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
}

.title {
  margin: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 50px;
}

/* card styling */

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  width: 80%;
  margin: auto;
}

.card {
  width: 90%;
  margin: 20px;
}

.card .wrapper {
  width: 100%;
}
.card figure {
  width: 100%;
  margin: 0;
}
.card figure img {
  width: 100%;
  border-radius: 10px;
}

.author {
  display: flex;
}

.author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}




@media  (max-width:700px) {
  body {
    background-color: lightgray;
    width: 90%;
  }

  main {
    grid-template-columns: 1fr;
  }
  .card {
    border-bottom: black 3px dashed;
    padding-bottom: 5px;
  }

  .title {
    width: 90%;
  }

  h1 {
    font-size: 30px;
  }

   /*blog page*/
   .authorbio {
    grid-template-columns: 1fr;
      justify-content: center;
      background-color: aliceblue;
      width: 100%;
    }
    .authorbio img,
    .authorbio ul {
      justify-self: center;
    }
  
    .quotes {
      flex-flow: column wrap;
      
    }
    blockquote {
    width: 90%;}
} 
