/* imports */ 

@import "media.css";
@import "author.css";
@import "footer.css";


/* global styles*/

body {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  width: 80%;
}

a {
  display: inline-block;
  background-color: #1044ff;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

/*header & nav styles */

header {
  height: 500px;
  color: white;
  background-color: black;
  width: 80%;
  margin: auto;
}
nav {
  background-color: black;
  color: white;
  padding: 5px;

  height: 30px;
}
h2 {
  margin: 0;
  font-size: 20px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
}

.title {
  margin: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 50px;
}

/* card styling */

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  width: 80%;
  margin: auto;
}

.card {
  width: 90%;
  margin: 20px;
}

.card .wrapper {
  width: 100%;
}
.card figure {
  width: 100%;
  margin: 0;
}
.card figure img {
  width: 100%;
  border-radius: 10px;
}

.author {
  display: flex;
}

.author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}


